@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #00ff41;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00cc33;
  box-shadow: 0 0 6px #00ff41;
}